* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
main {
    height: 100vh;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(12, 14, 13);
    margin: auto;
    
}
button {
    width: 80px;
    height: 50px;
    background-color: rgba(107, 131, 131, 0.795);
    padding: 5px;
    font-size: 28px;
    color: rgb(241, 227, 152);
    bottom: none;
    outline: none;
    margin: 10px;
    border-radius: 8px;
    border-color: gray;
       
}
button:hover {
    background-color: rgb(59, 66, 61);
}
div {
    
    margin: 10px;
}
.redbox {
    background-color:red;
    height: 200px;
    width: 200px;
    border-radius: 8px;
    -moz-box-shadow:0 0 20px rgb(207, 189, 189);
-webkit-box-shadow:0 0 20px rgb(192, 181, 181);
box-shadow:0 0 20px rgb(199, 182, 182);
}


.pinkbox {
    background-color: rgb(204, 160, 168);
    height: 200px;
    width: 200px;
    border-radius: 8px;
    -moz-box-shadow:0 0 20px #8b7b7b;
-webkit-box-shadow:0 0 20px #aa9b9b;
box-shadow:0 0 20px #a79c9c;
}
.smallbox {
    background-color: #0e3f28;
    height: 150px;
    width: 150px;
    border-radius: 8px;
    -moz-box-shadow:0 0 20px #8b7b7b;
-webkit-box-shadow:0 0 20px #aa9b9b;
box-shadow:0 0 20px #a79c9c;
}

