* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(2, 8, 43); /* Фон */
}

h1 {
  color: rgb(205, 238, 21);
  text-align: center;
  font-size: 32px;
  margin: 20px;
  -moz-text-shadow: 0 0 20px rgb(228, 241, 223);
  -webkit-text-shadow: 0 0 20px rgb(205, 238, 213);
  text-shadow: 0 0 20px rgb(226, 243, 186);
}

h4 {
  font-size: 20px;
  font-weight: 700;
  width: 150px;
  color: rgb(238, 238, 218);
  border-radius: 8px;
  -moz-box-shadow: 0 0 10px #e0d420;
  -webkit-box-shadow: 0 0 10px #eeeab2;
  box-shadow: 0 0 10px #edeedd;
  padding: 8px;
}

.score {
  font-size: 26px;
  margin: 0 25px;
}

#count_score {
  color: rgb(238, 238, 218);
}

header {
  width: 70%;
  margin: auto;
  height: 45px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btm {
  font-size: 20px;
  font-weight: 700;
  width: 150px;
  padding: 8px;
  background-color: rgb(2, 8, 43);
  color: rgb(238, 238, 218);
  border-radius: 8px;
  -moz-box-shadow: 0 0 10px #e0d420;
  -webkit-box-shadow: 0 0 10px #eeeab2;
  box-shadow: 0 0 10px #edeedd;
}

/* Игровое поле */
.area {
  width: 500px;
  aspect-ratio: 1;
  background-image: url(./img/image4.jpg);
  background-position: center;
  background-size: cover;

  -moz-box-shadow: 0 0 20px #e0d420;
  -webkit-box-shadow: 0 0 30px #eeeab2;
  box-shadow: 0 0 40px #edeedd;
  margin: 30px auto;
  overflow: hidden;
  border-radius: 12px;
}
/* display: none; */

/* Снежок */
#object {
  width: 70px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-image: url(./img/snoy.jpg);
  background-size: 100px 100px;
  transform: translateY(-100px);
  position: relative;
}

#object.start {
  animation-name: movement;
  animation-duration: 2s; /*  плавная анимация */
  animation-iteration-count: infinite; /* бесконечная анимация */
  animation-timing-function: linear; /*  плавная анимация */
}

/* анимация движения */
@keyframes movement {
  to {
    transform: translateY(600px);
    width: 70px;
    background-size: 70px 70px;
  }
}

/* КОНЕЦ ИГРЫ! */
.wrapper-game-over {
  height: 300px;
  display: flex;
  align-items: center;
}
.game-over {
  display: none;
  margin: auto;
  width: 250px;
}

.game-over-text {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  color: #eedf11;
  -moz-text-shadow: 0 0 30px rgb(219, 217, 96);
  -webkit-text-shadow: 0 0 20px rgb(229, 238, 175);
  text-shadow: 0 0 20px rgb(226, 243, 186);
}
